.featured {
  height: 100vh;
};

.verticalFeatured {
  background: linear-gradient(to top, #111 10%, transparent 90%);
  height: inherit;
  width: inherit;
};

.horizontalFeatured {
  background: linear-gradient(to right, #111 10%, transparent 90%);
  height: inherit;
  width: inherit;
};

.featuredName {
  font-size: 60px;
  font-weight: bold;
};

.featuredInfo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
};

.featuredPoints {
  display: inline-block;
  margin-right: 15px;
  color: #46d369; 
};

.featuredYear {
  display: inline-block;
  margin-right: 15px;
};

.featuredSeasons {
  display: inline-block;
  margin-right: 15px;
};

.featuredDescription {
  margin-right: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
};

.featuredBtn {
  margin-top: 15px;
};

.featuredBtnDetail {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
};

.featuredBtnDetail:hover {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  transition: all ease 0.2s;
};

.featuredGenres {
  margin-top: 15px;
  font-size:  18px;
  color: #999;
};
