.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.lists {
  margin-top: -80px;
}

.lists2 {
  margin-top: 70px;
};

.slick-prev:before {
  left: 3% !important;
  z-index: 9999;
  background-color: #eee;
};

.slick-next:before {
  right: 3% !important;
  z-index: 9999;
  background-color: #eee;
};
/* 
.movieRow--right, .movieRow--left {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
};

.movieRow--left {
  left: 0;
};

.movieRow--right {
  right: 0;
}; */

/* .movieRow:hover .movieRow--left:hover,
.movieRow:hover .movieRow--right:hover {
  opacity: 1;
} */